.fa {
  border-radius: 10%;
  color: white;
  text-decoration: none;
}
.fa:hover {
  opacity: 100%;
}
.fa-facebook {
  /* background: #3b5998; */
  background: transparent;
  opacity: 0.5;
}
.fa-twitter {
  /* background: #55acee; */
  background: transparent;
  opacity: 0.5;
}
.fa-instagram {
  /* background: #125688; */
  background: transparent;
  opacity: 0.5;
}
.footerSoMe {
  width: 120px;
  overflow: hidden;
  color: white;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  padding: 0;
}
.footerSoMe ul {
  padding: 0;
  list-style-type: none;
}
.footerSoMe li {
  font-size: 20px;
  padding: 10px;
  display: inline-block;
}
.contentFooter {
  font-size: 15px;
  margin-top: 15px;
  bottom: 0;
  color: rgb(119, 141, 169);
}
