input[type="text"],
[type="password"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #415a7746;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  resize: none;
  font-weight: 300;
  background-color: #415a7728;
  color: #ffffff;
  font-size: 15px;
}

input[type="submit"] {
  background-color: #415a7728;
  color: white;
  float: right;
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #6082a828;
}
