@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #0d1b2a;
  font-family: Montserrat;
}
.navbarContainer {
  display: grid;
  grid-template-columns: 120px auto;
}
.gridContentBox {
  flex-direction: column;
  display: flex;
  width: auto;
  padding-top: 50px;
  padding-left: 10vw;
  padding-right: 10vw;
}
.contentHeadline {
  flex: 10%;
  font-size: 2vw;
  text-decoration: underline solid 1px;
  text-underline-offset: 30px;
  color: white;
}
.contentText {
  padding-top: 50px;
  margin-bottom: 50px;
  flex: 60%;
  color: #778da9;
  font-size: 1vw;
  font-family: Montserrat;
  font-style: normal;
  letter-spacing: 2px;
}
