body {
  background-color: #0d1b2a;

  margin: 0;
}

/* shift + alt + 8 {}*/
.grid-container {
  display: grid;
  grid-template-columns: 120px auto;
}
.grid-content-box {
  width: auto;
  display: flex;
  margin: 5px 5px 5px 0px;
  background-color: #415a77;
}
.grid-menu {
}
.menu-top-logo {
  height: 160px;
  background-color: #415a77;
  margin: 5px;
}
.menu-product {
  height: 100px;
  background-color: #415a77;
  margin: 5px;
}
.menu-about-us {
  height: 100px;
  background-color: #415a77;
  margin: 5px;
}
.menu-partners {
  height: 100px;
  background-color: #415a77;
  margin: 5px;
}
