.modalContact {
  display: none; /* Hidden by default */
  background: rgba(85, 118, 155, 0.2);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}
.modalContact .modal-content {
  border-radius: 10px;
  border: 1px solid rgba(65, 90, 119, 0.1);
  background: linear-gradient(
    0deg,
    rgba(67, 102, 148, 0.2) 0%,
    rgba(13, 27, 42, 0.2) 80%
  );
  width: 35vw;
  height: auto;
  top: 150px;
  left: 220px;
  padding-bottom: 30px;
  padding-top: 10px;
  position: fixed;
  background-color: rgba(13, 27, 42, 0.7);
  backdrop-filter: blur(4px);
  font-weight: 700;
  color: #ffffff;
  overflow: hidden;
}
/* The Close Button */
.modalContact .modal-content .close,
.UsrClose,
.RegClose {
  cursor: pointer;
  color: #aaaaaa;
  position: absolute;
  left: 93%;
  top: 0%;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.RegClose:hover,
.RegClose:focus,
.UsrClose:hover,
.UsrClose:focus {
  color: #595959;
  text-decoration: none;
  cursor: pointer;
}
.container {
  border-radius: 5px;
  padding: 20px;
}
span.link {
  font-size: 12px;
  text-decoration: none;
  float: left;
  color: #98a8cc;
  padding: 5px;
}
span.link a {
  text-decoration: none;
  color: #ffffff;
}
span.link a:hover {
  text-decoration: none;
  color: #b4d5ff;
  cursor: pointer;
}
.reg button {
  background-color: #415a7728;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.reg {
  float: right;
}
.reg button:hover {
  background-color: rgba(89, 97, 145, 0.2);
}
