#inputCardFrames {
  display: flex;
  flex-wrap: wrap;
}
/* TESTING*/
#inputCardFrames .cardFrame {
  text-align: center;
  /* border: 1px solid rgb(0, 255, 26); */
  width: 200px;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
  background-color: ;
  margin: 0vw 2vw 2vw 0vw;
}

#inputCardFrames .cardFrame {
  background: #1b263b;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  padding: 1.5rem;
  z-index: 10;
  color: whitesmoke;
}
#inputCardFrames .cardFrame:hover {
  background-color: #282c34;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 1) 0%,
    rgba(17, 0, 32, 0.5) 100%
  );
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;

  z-index: 10;
  color: whitesmoke;
}
/* rammen bildet skal inn i*/
#inputCardFrames .cardFrame .img-container {
  /* border: 1px solid rgb(255, 204, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}
/* selve bildet */
#inputCardFrames .cardFrame .img-container .product-img {
  height: 130px;
  /* border: 1px solid rgb(47, 0, 255); */
}

#inputCardFrames .cardFrame .product-title {
  /* border: 1px solid red; */
  font-size: 15px;
  color: white;

  font-weight: 700;
  letter-spacing: 2px;
}
#inputCardFrames .cardFrame .product-info {
  /* border: 1px solid red; */
  padding: 10px;
  font-size: 10px;
  color: rgb(178, 172, 172);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
