.cardFrame {
  margin: 0;
  border: 1px solid rgb(0, 255, 26);
  position: relative;
  width: 320px;
  height: 480px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #1b263b;
  margin-right: 10px;
}
#inputCardFrames {
  display: flex;
}

#cardBox .cardFrame .img-container {
  border: 1px solid red;
  position: relative;
  height: 70%;
  margin: auto;
  width: max-content;
}

#cardBox .cardFrame .product-img {
  margin-top: 8vw;
  height: 200px;
  border: 1px solid red;
}

.cardFrame .product-title {
  border: 1px solid red;
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}
.cardFrame .product-info {
  border: 1px solid red;
  font-size: 18px;
  z-index: 1;
  color: rgb(178, 172, 172);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.cardFrame::after {
  content: "PRODUCT";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
} 

/* 
.cardFrame .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}
.cardFrame:hover .buy {
  top: 0;
  opacity: 1;
}



.cardFrame .product-content .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.cardFrame .product-content .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #ffce00;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.mouse {
  height: 300px;
  width: auto;
} */

/*
cardImg
cardTitle
cardContent
*/
